.todo-container{
    width: 500px;
    height: 612px;
    border-radius: 6px; 
    background: #531a1aab;
    border-bottom: outset rgb(0 0 0 / 27%);
    border-right: outset rgb(2 2 2 / 27%);
    border-width: 8px;
    overflow: auto;
}
.todo-container h1
{
color: #ffa8a8;
font-family: Roboto;
font-size: 36px;
font-weight: 700;
text-align: center;
padding-top: 20px;
}